//
// Layout
//

// Grid variables

$row-width: emCalc(1100px);
// $column-gutter: emCalc(30);
$total-columns: 12; // Caution: changing this will alter the breakpoints

// $column-gutter-half: $column-gutter / 2;

$grid-width: $row-width / $total-columns;


// Column variables - use these to set your region widths
$full-width:           $total-columns;
$sidebar-1-width:      3;
$content-width:        $full-width - $sidebar-1-width;


// Media Queries

$small-screen: emCalc(768px);
$medium-screen: emCalc(1000px);
$large-screen: emCalc(1440px);

// $screen: "only screen";
$small: "only screen and (min-width: #{$small-screen})";
$medium: "only screen and (min-width: #{$medium-screen})";
$large: "only screen and (min-width: #{$large-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

// Respond-to variables
$print: "print";
$no-print: "false";

// Assign devices to sizes
$tablet: $small;
$desktop: $medium;
$widescreen: $large;

// Need to define IE variables for the respond-to mixin
$ie10: ".ie10";
$ie9: ".lt-ie10";
$ie8: ".lt-ie9";
$ie7: ".lt-ie8";


//
// Colors
//

$white:        #ffffff;
$gray-lighter:   darken($white, 10%);
$gray-light:   darken($white, 25%);
$gray:         darken($white, 50%);
$gray-dark:    darken($white, 75%);
$black:      #000000;

// Foundation colors
$primary-color: #2ba6cb; // This is also the link color

//
// Typography
//

$small-font-size: 80%;

// Control header font sizes

$h1-font-size: emCalc(44);
$h2-font-size: emCalc(37);
$h3-font-size: emCalc(27);
$h4-font-size: emCalc(23);
$h5-font-size: emCalc(18);
$h6-font-size: 1em;

// Various global styles

// $body-bg: #fff;
$body-font-color: #222;


$include-print-styles: false;